/* @override http://localhost:8888/realisms/sites/all/themes/realisms/admin.css */

/**********************************
ADMIN STUFF
*********************************/
.error {
	padding: 1em;
}
div.status {
	background: #bfffcb;
	border: 1px solid #97e981;
	color: #49723f;
	font-size: .8em;
	padding: 5px 10px;
	margin-bottom: 10px;
}
div.error {
	font-size: .8em;
	color: #ff0020;
	background-color: #ffdee1;
	margin-bottom: 10px;
	padding: 5px 10px;
	line-height: 20px;
}
.admin div.admin .clear-block {
	display: block;
	position: relative;
	margin: 0px;
	padding: 0px;
}

.admin .left {
	margin-left: 0;
	padding: 0;
	float: left;
	border: 1px solid #ccc;
}

.admin .right {
	float: right;
	margin-right: 0;
	float: left;
	border: 1px solid #ccc;
}

.admim div.admin .admin-panel {
	margin-top: 10px;
}

.admim h3, div .admin-panel h3 {
	margin: .3em 0;
	padding: .3em 0;
	text-transform: uppercase;
	font-weight: lighter;
	text-align: center;
}

.tabs {
	margin-bottom: 10px;
	line-height: 22px;
}

.tabs ul.tabs.primary {
	border-bottom: none;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 22px;
	clear: both;
	background: #f0f0f0;
}

.tabs ul.tabs.primary li a {
	border: none;
	border-right: 1px solid #f4f4f4;
	text-transform: capitalize;
	font-size: 11px;
	line-height: 22px;
	color: #000;
	display: block;
	float: left;
	background: none;
	margin: 0;

}
.tabs ul.tabs.primary li a.active,
.tabs ul.tabs.primary li a:hover {
	background: #000;
	color: #FFF;
}

.tabs ul.tabs.primary li a.active {
	color: #fff;
	background-image: none;
}

div.tabs ul.tabs.secondary {
	background: #e0e0e0;
	border-bottom: none;
	display: block;
	height: 22px;
	margin: 1px 0;
	padding: 0;
	width: 100%;
}

.tabs ul.tabs.secondary li {
	border: none;
	border-right: 1px solid #f4f4f4;
	text-transform: capitalize;
	font-size: 11px;
	line-height: 22px;
	color: #000;
	display: block;
	float: left;
	background: none;
	padding: 0 10px;
}

.tabs ul.tabs.secondary li a{
	border: none;
	color:#000;
}

.tabs ul.tabs.secondary li a:hover {
	color: #000;
}

/*
dl {
	border-top: 1px solid #ddd;
}
*/

.user dl {
	
}

dl dt a:link, dl dt a:visited, dl dt a:active {
	text-decoration: none;
	border: none;
}

dl.admin-list dt, dt {
	padding: .5em 0 .3em 0;
	font-size: 14px;
}

.user dl dt {
	padding: 5px 0;
	margin: 0;
	font-size: 12px;
	color: #000;
}

/*
dl.admin-list dt, dl {
	margin: .4em 0;
	padding: 0 0 2px 0;
}
*/
.user dl {
	margin: 0 0 20px 0;
	padding: 0;
}

/*
dl.admin-list dd, dd {
	margin: 0 0 .5em 0;
	padding: 0 0 .5em 0;
	border-bottom: 1px solid #ddd;
	color: #333;
}
*/
.user dl dt{
	color: #999;
	font-size: 12px;
	font-weight: normal;
} 
.user dl.admin-list dd, .user dd {
	border-bottom: none;
	font-weight: bold;
}

.user dl dd.bio- {
	border-bottom: none;
}

.user dd.user-member, .user dd.userpoints-, .user dd.profile-profile_criativo, .user dd.profile-profile_nome, .user dd.profile-profile_dataNasc {
	margin-bottom: 10px;
	padding: 3px 0 0 0;
	border-bottom: none;
	font-size: 18px;
}
form#node-form {
	background: #f0f0f0;
	padding: 10px;
}
div.node-form {
	padding: 15px;
	background: #FFF;
	border: 1px solid #CCC;
}
/****** FORM FIELDS ******/
#node-form .form-item .form-text {
	border: 1px solid #CCC;
	height: 22px;
}
#node-form .form-item .form-textarea {
	border: 1px solid #CCC;
	height: 300px;
}
#node-form .form-item #edit-log {
	height: 80px;
}
/* @group TABLES */

table {
	background: #f0f0f0;
	margin: 20px 0 20px 0;
	width: 100%;
	font-size: 11px;
	text-transform: capitalize;
	color: #333;
}

table a:link, table a:active,table a:visited {
	color: #000;
}

/*
table a:hover {
	color: #fff;
}
*/

.adm .help {
	padding: 10px 0;
}

tbody {
	background: #ddd;
	border-top: 4px solid #777;
}

table caption {
	font-size: 18px;
	padding: 10px 0;
	text-transform: uppercase;
	color: #3d362d;
}

table thead {
	background: #777;
	color: #fff;
}

table thead th {
	padding: 5px;
}

table tr.even {
	background: #ddd;
	border-bottom: 1px solid #fff;
}

/*
table tr.odd {
	background: #ddd;
	border-bottom: 1px solid #fff;
}
*/

.adm table td, table td {
	padding: 5px;
}

.adm td .menu-disabled {
	background: #9ad3d0;
}
.views-basic-info {
	background: #FFF;
	border: 1px solid #CCC;
	margin-bottom: 10px;
	font-size: 12px;
}
/* @end */

fieldset.collapsible, 
fieldset {

	border: 1px solid #CCC;
	padding: 5px 15px;
	margin-bottom: 20px;
}

#comment fieldset.collapsible {
	border: 1px solid #CCC;
	margin-bottom: 20px;
}

label {
	padding: .4em 0;
	font-size: 14px;
	color: #2B2A25;
	font-weight: lighter;
	margin-bottom: 5px;
}

div.admin {
	margin-bottom: 20px;
}

legend {
	display: block;
	padding: 2px;
	border: none;
	font-weight: bold;
/*	text-transform: uppercase; */
	font-size: 13px;
}

legend a:active, legend a:link,legend a:visited {
	text-decoration: none;
	border-bottom: none;
	font-weight: bold;
	color: #000;
}
ul.tips{
	color: #999;
	font-size: 11px;
}
.block-region {
	position: absolute;
	opacity: .6;
	padding: 5px;
	border: 3px dotted #f90;
	text-transform: uppercase;
}

.form-text, textarea, edit-comment {
	font-size: 13px;
	
}
fieldset .form-text, fieldset textarea, fieldset edit-comment {
	font-size: 13px;
	width: 100%;
}

.form-item {
	padding: .3em 0;
	margin: 10px 0;
}
.form-submit {
	font: 12px;
	padding: .1em;
}

.admin form div{
	overflow: hidden;
}
/* //// USER LOGIN //// */
#user-register div.form-item,
#user-login div.form-item,
#user-pass div.form-item {
	padding: 0 0 .3em 0;
	margin: 0 0 0 0;
}
#user-login,
#user-pass   {
	width: 340px;
	border: 1px solid #ddd;
	padding: 10px;
	margin-top: 20px;
}
#user-register{
	margin-top: 20px;
}
#user-register label{
	font-size: 12px;
	
}
#user-register fieldset{
	padding: 10px 20px;
}
#user-register .form-text,
#user-login .form-text,
#user-pass .form-text  {
	width: 320px;
}
#user-register #edit-profile-endereco,
#user-register #edit-profile-nome{
	width:100%;
	
}
#user-register #edit-profile-cidade,
#user-register #edit-profile-estado{
}
/* // */
/* //// USER REGISTER //// */
div .description {
	color: #666;
	margin-top: 5px;
}

div.description ul {
	padding-left: 15px;
}
#content .form-text:focus, .form-textarea:focus, .form-submit:focus {
	background: #f0f0f0;
	color: #000000;
}


#admin-menu {
	font-size:13px;
}

dl.multiselect dd.a, dl.multiselect dd.a .form-item {
	width: auto !important;
}
	
table th a:link, table th a:active, table th a:visited {
	color:#FFF !important;
}	
	